

<form class="form-signin">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
     
    </div>
    <div class="div">
        <label for="inputEmail">Email address</label>
    </div>
    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      
    </div>
<div class="di">
    <label for="inputPassword">Password</label>
</div>
    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      
    </div>
<div class="di">
    <label for="firstName">First name</label>
</div>
    <div class="form-label-group">
      
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
        
      </div>
      <div class="div">
        <label for="lastName">Last name</label>
      </div>
      <div class="form-label-group">
        
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
        </div>

        <div class="div">
                <label for="lastName">City</label>
        </div>
        <div class="form-label-group">
                
            <input type="text" class="form-control" id="city" placeholder="" value="" required>
        </div>

        <div class="div">
             <label for="lastName">Postal code</label>
        </div>
        <div class="form-label-group">
                        
            <input type="text" class="form-control" id="postalcode" placeholder="" value="" required>
        </div>
        <div class="div">
                <label for="lastName">Telephone</label>
           </div>
           <div class="form-label-group">
                           
               <input type="text" class="form-control" id="telephone" placeholder="" value="" required>
           </div>
           <div class="div">
                <label for="lastName">Description</label>
           </div>
           <div class="form-label-group">
                           
               <input type="text" class="form-control" id="description" placeholder="" value="" required>
           </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; Shopping Cart</p>
  </form>