.center{
    text-align: center;
}

.bold{
    font: bold;
}

.top{
    margin-top: 1em;
}

ul li{
    list-style: none;
}

.width{
    width: 75%;
}

.center-div{
    margin: auto;
}

.padding{
    padding: 1em;
}