<form class="form-signin">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Update Product</h1>
     
    </div>

    <div class="di">
        <label for="firstName">Id</label>
    </div>
        <div class="form-label-group">
          
            <input type="text" class="form-control" id="id" placeholder="" value="" required>
            
    </div>
    
<div class="di">
    <label for="firstName">Name</label>
</div>
    <div class="form-label-group">
      
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
        
      </div>

        <div class="div">
                <label for="lastName">Image urls</label>
        </div>
        <div class="form-label-group">
                
            <input type="text" class="form-control" id="city" placeholder="" value="" required>
        </div>
        <div class="form-label-group">
                
                <input type="text" class="form-control" id="city" placeholder="" value="" required>
        </div>
        <div class="form-label-group">
                
                <input type="text" class="form-control" id="city" placeholder="" value="" required>
        </div>

        <div class="div">
             <label for="lastName">Price</label>
        </div>
        <div class="form-label-group">
                        
            <input type="text" class="form-control" id="postalcode" placeholder="" value="" required>
        </div>
        
           <div class="div">
                <label for="lastName">Description</label>
           </div>
           <div class="form-label-group">
                           
               <input type="text" class="form-control" id="description" placeholder="" value="" required>
           </div>

         <div class="div">

                <label for="country">Category</label>
            </div>
            <div class="form-label-group">
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>Plantas</option>
                </select>
                </div>
   
         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>   
            <div>
                
            </div>

   
    <p class="mt-5 mb-3 text-muted text-center">&copy; Shopping Cart</p>
  </form>