<div id="content" #content>
	<h2>Purchased Products</h2>
	<form class="form-inline">
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Order</th>
						<th>Date</th>
						<th>Total</th>
						<th>Client</th>
					</tr>
				</thead>
				<tbody>

					<tr *ngFor="let bill of getBills()">
						<td>{{ bill.billId }}</td>
						<td>{{ bill.billDate | date : "fullDate" }}</td>
						<td>{{ bill.totalValue }}</td>
						<td>{{ bill.client.firstName }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>

	<button (click)="downloadPDF()">Export to PDF</button>
</div>