<form class="form-signin">
	<div class="text-center mb-4">
		<h1 class="h3 mb-3 font-weight-normal">Write down the category</h1>
	</div>

	<div class="div">
		<label for="name">Name</label>
	</div>
	<div class="form-label-group">
		<input type="text" class="form-control" id="name" name="name" placeholder="" value="" [(ngModel)]="name">
	</div>

	<button class="btn btn-lg btn-primary btn-block" (click)="generateCategory()" type="submit">Create</button>
	<p class="mt-5 mb-3 text-muted text-center">&copy; Shopping Cart</p>
</form>